body {
  overflow-x: hidden;
}

.sign-up-helper-text {
  color: #6a7284;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.sign-up-helper-text:hover {
  color: #4d4f5c;
  cursor: pointer;
}

.sign-up-input {
  width: 335px;
  height: 35px;
  padding-left: 20px;
  background-color: white;

  border-color: #dee2ec;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #6a7284;
  margin: 10px;
}

.sign-up-input::placeholder {
  color: #dee2ec;
}

.sign-up-input:hover {
  border-color: #55efc4;
  transition: 0.3s ease;
}

.sign-up-input:focus {
  border-color: #55efc4;
  outline: none;
}

.sign-up-button {
  background-color: #55efc4;
  color: white;
  border-style: solid;
  border-color: #55efc4;
  border-width: 2px;
  border-radius: 17px;
  box-shadow: 0px 5px 10px rgb(85, 239, 196, 0.3);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  width: 200px;
  height: 35px;
  margin: 20px;
  outline: none;
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: #50e0b8;
  border-color: #50e0b8;
}

.sign-up-button:focus {
  outline: none;
}

.button-empty {
  color: #55efc4;
  background: #fff;
}

.button-empty:hover {
  color: #fff;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0px 3px 5px rgb(106, 114, 132, 0.2);
}

.sign-up-container > #register-error, #login-error {
  color: red;
  text-align: center;
}

.sign-up-title {
  color: #6a7284;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  text-align: center;
}

.sign-up-helper-text {
  color: #6a7284;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.agreement {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/background.svg);
  background-size: cover;
}

.padded-container {
  padding: 50px 150px;
}

@media screen and (max-width: 750px) {
  .padded-container {
    padding: 20px 50px;
    width: 70vw;
  }

  .sign-up-input {
    width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .sign-up-input {
    width: 220px;
  }
}