*{
    font-family: 'Roboto', sans-serif;
    margin:0;
}

body{
    display:flex;
    justify-content: center;
}

p{
    margin:0;
}

.topic-choice-container{
    z-index: 100;
    background-color:white;
    padding: 2rem;
    margin:auto;
    max-width: 65rem;   
    box-shadow: 0px 3px 5px rgb(106, 114, 132,0.2);
}

#topics-container{
    max-width: 58.125rem;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.topic-list{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#topics-title{
    margin:auto;
    margin-left: 15px;
    color:#6A7284;
    font-size: 18px;
}

.topic-item{
    margin:15px;
    display: block;
    width:9.375rem;
    height: 6.25rem;
    text-align: center;
    font-weight:600;
    font-size:1rem;
    box-shadow: 0px 3px 6px rgb(106, 114, 132,0.2);
    border-style: none;
    border-radius: 0.4375rem; 
    background-color:#fff;
    color:#6A7284;
}

.topic-item-active{
    background-color: #55EFC4;
    color:white;
}

.topic-item p {
    position: relative ;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
}
.topic-item:active{
    box-shadow:inset 0 0 10px rgb(106, 114, 132,0.5);
}
.topic-item:hover{
    cursor: pointer;
       -moz-user-select: none; /* Firefox */
            user-select: none; /* Non-prefixed version, currently*/
}

#chosen-topics{
    width: 100%;
    min-height:2.5rem;
    border-radius: 0.9375rem;
    border-style:dashed;
    border-color:#707070;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
}

.topic-miniature{
    width:6.25rem;
    height:1.25rem;
    background-color:#55EFC4;
    border-radius: 0.625rem;
}
.topic-miniature{
    width:6.25rem;
    height:1.25rem;
    background-color:#55EFC4;
    border-radius: 0.625rem;
    transform: translate(0%, 50%);
    margin-left: 1.25rem;
    font-weight: bold;
    color:#fff;
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding-left:0.625rem;
    text-transform: capitalize;
}
.topic-miniature:hover{
    cursor: pointer;
}
.topic-miniature p br{
    display:none;
}
.topic-miniature-unused{
    display:none;
}
#continue-button{
    cursor: pointer;
    max-width:12.5rem;
    height: 2.1875rem;
    background-color:#55EFC4;
    border:none;
    border-radius: 1.0625rem;
    color:#fff;
    font-size: 1;
    text-align: center;
    margin-left: 50%;
    margin-top:25px;
    transform: translate(-50%, 0);
    box-shadow: 0px 5px 10px rgb(85, 239, 196,0.3);
}

.topics-container {
    height: 100vh;
    display: flex;
}